<%- include partials/header.ejs %>


<h1 class="text-center">About me</h1>


<nav>
<p></p><br /><br /><br />
<div class="col-md-6 col-md-offset-3">   
<div class="well">
  
    I am a Chinese who is studying computer programming in Canada now. I have been studying for 1 year, and I could deal web stuffs through HTML, CSS, PHP and basic Javascript. In condition, I can also do basic Java and SQL which are help for build apps and databases.
    </div>    
</div>
</nav>
    
<%- include partials/footer.ejs %>