<%- include partials/header.ejs %>
   
<!-- jumbotron hold everything on this page -->
<div class="jumbotron">
    
    <h1 class="text-center"><%= title %></h1>
    <p class="text-center">Here is <u><%= message%></u></p>
   
<!-- profile image show at col-md-2 col-md-offset-5 -->    
    <div class="center">
        <div class="col-md-2 col-md-offset-5">
            <a href="" class="thumbnail">
                <img src="/images/profile.jpg" alt="">
            </a>
        </div>
    </div>
</div>

<%- include partials/footer.ejs %>