<%- include partials/header.ejs %>

<h1 class="text-center">Projects</h1>
<p></p><br /><br />



<!-- load thumbnail function, which on left top, and all text at mid -->
<div class="text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/zhide.png" alt="">
      <div class="caption">
        <h3>Referrer Network</h3>
        <p>This is for referrer to register, login in, edit their profile</p>
        <a href="http://gc200271124.computerstudi.es/PHP/leo/QRcode.php" class="btn btn-warning" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>


   
<%- include partials/footer.ejs %>